// //fonts

//Bunya
@font-face {
  font-family: "Bunya-Thin";
  src: url("./fonts/bunya/Bunya-thin.ttf");
}

//Questa
@font-face {
  font-family: "Questa-Regular";
  src: url("./fonts/questa/Questa.otf");
}

//Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

//Arizonia
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
